<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p th:text="${msg}"></p>
<hr>
<a th:href="@{/user/add}">add</a>
<hr>
<a th:href="@{/user/update}">update</a>
<hr>
<a th:href="@{/user/annotation}">注解的控制权限</a>
<hr>
<a th:href="@{/user/remember}">记住我页面</a>
<hr>
<a th:href="@{/user/removeCache}">缓存清理</a>
<hr>
<a href="/logout">logout</a>
<!--shiro需要导包，且需要-->
<!--<shiro:hasPermission name="VIP1"> 权限 </shiro:hasPermission>-->
</body>
</html>